@model IEnumerable<U3RazasPerros.Models.Razas>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    ViewData["Title"] = "Index";
    Layout = "MasterPageAdmin";
}

<section style="position: relative; width: 100%; height: 40px; float: left; margin: 5px 0;">
    <h1 style="display: block; position: absolute; font-size: 30px; padding: 0; margin: 0;">Razas</h1>
    <a href="~/Admin/Razas/Agregar" style="text-decoration: none; width: 15%; text-align: center; display: block; padding: 3px; background-color: saddlebrown; color: white; border: 1px solid black; position: absolute; right: 0;">
        Agregar
    </a>
</section>
<section class="list" id="listAdm">
    <ul>
        @foreach (var r in Model)
        {
            <li>
                <div id="idBox">
                    @if (System.IO.File.Exists($"{env.WebRootPath}/imgs_perros/{r.Id}_0.jpg"))
                    {
                        <img src="/imgs_perros/@(r.Id)_0.jpg" />
                    }
                    else
                    {
                        <img src="/imgs_perros/NoPhoto.jpg" />
                    }
                    <b>Nombre: </b>@r.Nombre<br>
                    <b>Esperanza: </b>@(r.EsperanzaVida) años<br>
                    <b>Peso: </b>@(r.PesoMin)kg <b>-</b> @(r.PesoMax)kg<br>
                    <b>Altura: </b>@(r.AlturaMin)cm <b>-</b> @(r.AlturaMax)cm
                    <div class="btnAdm">
                        <a href="~/Admin/Razas/Editar/@(r.Id)">Editar</a>
                        <a href="~/Admin/Razas/Eliminar/@(r.Id)">Eliminar</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</section>

